@import "../../scss/fonts";
@import "../../scss/mixins";
@import "../../scss/variables";

.spinner {
  position: relative;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  background-color: $orange-6;
  border-radius: 100%;
  animation: pulse 1s ease-in-out infinite;

  &.spinner--secondary {
    background-color: $gray-3;
  }

  &.spinner-landing {
    right: 20px;
    left: auto;
  }
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

.spinner + * {
  margin-left: 20px;
}
