@import "../scss/fonts";
@import "../scss/mixins";
@import "../scss/media-queries";
@import "../scss/variables";

.app {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;

  &.bg-gradient {
    background: radial-gradient(96.39% 96.39% at 50% 98.82%, #e8edf5 1.04%, #c3d0e4 100%);
  }

  img {
    -webkit-user-drag: none;
    user-drag: none;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: $white;
    border-bottom: 1px solid $gray-2;
    z-index: 10;

    // sass-lint:disable no-vendor-prefixes
    -webkit-app-region: drag;

    .brand {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 20px;
      padding: 4px 8px;
      border-radius: 6px;
      outline: none;
      text-decoration: none;
      cursor: initial;
      // sass-lint:disable no-vendor-prefixes
      -webkit-app-region: none;

      img {
        height: 40px;
      }

      h1 {
        @include font-size(32px);

        color: $white;
        font-family: $metropolis;
        white-space: nowrap;
      }
    }

    .window-controllers {
      position: absolute;
      top: 12px;
      right: 0px;

      button {
        padding: 0;
        border: none;
        background: none;
        color: $gray-4;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-right: 24px;
        // sass-lint:disable no-vendor-prefixes
        -webkit-app-region: none;
      }

      img {
        width: 16px;
      }
    }
  }

  .content {
    flex: 1;
    overflow: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    @include font-size(16px);
    font-family: $metropolis;
  }

  .wallet {
    &.wallet--homepage {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
    }
  }

  .homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .content-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      &.message-visible {
        height: 100%;
        justify-content: flex-end;
      }
      #landing-banner {
        width: 80vw;
        max-width: 880px;
        z-index: 100;
      }
    }

    .node-connection-message {
      min-height: 30vh;
      width: 100%;
      display: flex;
      align-items: flex-end;
      padding-bottom: 50px;
    }

    .nectar-drops-bg {
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;

      img {
        &.nectar-drop {
          &#drop-1 {
            position: absolute;
            width: 716.63px;
            left: -466px;
            top: -245px;
            animation: rotatePositive 160s infinite;
          }
          &#drop-2 {
            width: 635px;
            animation: rotateAndScale 140s infinite;
          }

          &#drop-3 {
            position: absolute;
            width: 716.63px;
            height: 667.16px;
            left: 734.99px;
            top: 607.84px;

            filter: blur(25px);
            transform: rotate(-15deg);

            animation: rotatePositive 100s infinite;
          }
        }
        &#hexagon {
          z-index: -1;
          width: 500px;
        }
      }
    }
    .absolute-center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;
    z-index: 1;

    @include font-size(16px);

    padding: 20px 20px;
    background-color: $white;
    color: $white;
    border-top: 1px solid $gray-2;
    font-family: $metropolis;

    img {
      cursor: pointer;
    }
  }
}
