@import '../scss/fonts';
@import '../scss/mixins';
@import '../scss/media-queries';
@import '../scss/variables';

.app {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;

  &.bg-gradient{
    background: radial-gradient(96.39% 96.39% at 50% 98.82%, #E8EDF5 1.04%, #C3D0E4 100%);
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: $white;
    border-bottom: 1px solid $gray-2;
    z-index: 10;

    // sass-lint:disable no-vendor-prefixes
    -webkit-app-region: drag;

    .brand {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 20px;
      padding: 4px 8px;
      border-radius: 6px;
      outline: none;
      text-decoration: none;
      cursor: initial;
      // sass-lint:disable no-vendor-prefixes
      -webkit-app-region: none;

      img {
        height: 40px;
      }

      h1 {
        @include font-size(32px);

        color: $white;
        font-family: $metropolis;
        white-space: nowrap;
      }
    }

    .window-controllers {
      position: absolute;
      top: 12px;
      right: 0px;

      button {
        padding: 0;
        border: none;
        background: none;
        color: $gray-4;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-right: 24px;
        // sass-lint:disable no-vendor-prefixes
        -webkit-app-region: none;
      }

      img{
        width: 16px;
      }

    }

  }

  .content {
    flex: 1;
    overflow: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    @include font-size(16px);
    font-family: $metropolis;
  }

  .nectar-drops-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .nectar-drop{
    position: absolute;
    width: 690px;
    @include desktop-down {
      width: 500px;
    }
    @include tablet-down {
      max-width: 450px;
    }
  }

  #drop-1{
    left: -35%;
    top: -25%;
    animation: rotatePositive 140s infinite;
    @include big-desktop-up {
      left: 0;
      top: 0;
    }
  }

  #scale-drop{
    animation: scale 10s linear infinite;
    z-index: 10;
    top: -90%;
    left: 18%;
    position: absolute;
  } 

  #drop-2{   
    animation: rotateNegative 140s infinite;
    width: 480px;
    @include desktop-down {
      width: 430px;
    }
    @include tablet-down {
      width: 300px;
    }
    @include phone-down {
      width: 250px;
    }
  }

  #drop-3{
    right: -21%;
    bottom: -18%;      
    animation: rotatePositive 100s infinite;
    @include big-desktop-up {
      right: 0;
      bottom: 0;
    }
  }

  .landing-banner-container{
    margin-top: 15%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet-down {
      top: 30%;
    }
  }
  
  #landing-banner{
    width: 860px;
    max-width: 90%;
    z-index: 100;
  }

  #hexagon{
    width: 400px;
    max-width: 45%;
    z-index: 1;
    position: absolute;
  }

  footer {
    display: flex;
    justify-content: flex-end;
    z-index: 1;

    @include font-size(16px);

    padding: 20px 20px;
    background-color: $white;
    color: $white;
    border-top: 1px solid $gray-2;
    font-family: $metropolis;

    img{
      cursor: pointer;
    }
  }
}
