@keyframes rotatePositive {
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes rotateNegative {
    100% {
        transform: rotateZ(-360deg);
    }
}

@keyframes scale {
    0%, 100% {
        transform: scale(1.1); 
    }
    50% {
        transform: scale(1); 
    }
}
