@import './fonts';
@import './mixins';
@import './variables';

button {
  @include font-size(16px);

  padding: 8px 24px;
  border-radius: 6px;
  outline: none;
  font-family: $inter;
  font-weight: bold;
  cursor: pointer;
  background-color: $orange-6;
  color: $white;
  border: 2px solid $orange-6;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  // sass-lint:disable no-vendor-prefixes
  &:-moz-focusring {
    text-shadow: 0 0 0 $gray-7;
  }

  &.button--danger {
    border-color: $danger;
    background-color: $danger;
    color: $white;
  }

  &.button--secondary {
    background: $white;
    color: $gray-6;
    border-color: $gray-3;
  }

  &.button--landing{
    @include font-size(14px);
    width: 160px;
    height: 48px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    margin: 0 auto;
    margin-top: 80px;
  }
}
