@import './mixins';
@import './variables';

.select-wrapper {
  display: inline-block;
  position: relative;

  &.select-wrapper--small {
    select {
      @include font-size(12px);

      height: 32px;
    }

    img {
      top: 12px;
    }
  }

  img {
    position: absolute;
    top: 16px;
    right: 18px;
    color: $gray-4;
    z-index: 2;
    pointer-events: none;
  }

  select {
    @include font-size(14px);

    height: 40px;
    margin: 0px;
    padding: 0px 48px 0px 20px;
    border: 1px solid $input-border;
    border-radius: 6px;
    outline: none;
    background-color: #ffffff;
    color: $gray-5;
    font-family: $inter;
    appearance: none;


    // sass-lint:disable no-vendor-prefixes
    &:-ms-expand {
      display: none;
    }

    // sass-lint:disable no-vendor-prefixes
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 $gray-5;

      * {
        color: $gray-5;
        text-shadow: none;
      }
    }

    &.select-plus {
      position: relative;
      min-width: 100px;
      margin-right: -1px;
      border-radius: 6px 0px 0px 6px;

      &:focus {
        z-index: 1;
      }
    }

    option {
      background-color: $white;
      color: $dark-gray;
    }
  }
}

input {
  @include font-size(14px);

  height: 40px;
  margin: 0px;
  padding: 0px 10px;
  border: 1px solid $input-border;
  border-radius: 6px;
  outline: none;
  color: $gray-5;
  font-family: $inter;

  // sass-lint:disable no-vendor-prefixes
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $gray-5;
  }

  &.fill {
    width: 100%;
  }

  &.input-plus {
    position: relative;
    border-radius: 0px 6px 6px 0px;

    &:focus {
      z-index: 1;
    }
  }
}

button {
  outline: none;

  // sass-lint:disable no-vendor-prefixes
  &:-moz-focusring {
    text-shadow: 0 0 0 $gray-5;
  }
}

.form-validation {
  @include font-size(12px);
  font-family: $metropolis;
}

.form-label-width {
  min-width: 200px;
}

.form-input-long {
  width: 100%;
}

.form-button {
  @include font-size(12px);

  display: flex;
  align-items: center;
  height: 32px;
  padding: 0px 21px;
  border: 1px solid $input-border;
  border-radius: 6px;
  outline: none;
  background-color: transparent;
  color: $dark-gray;
  font-family: $metropolis;
  cursor: pointer;

  &.selected {
    $color: $white;
    font-weight: 600;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }


  // sass-lint:disable no-vendor-prefixes
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $white;
  }
}
