.center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.block {
    display: block;
}

.grid {
    display: grid;
}

.z-1 {
    z-index: 1;
}

.z-10 {
    z-index: 10;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.overflow-hidden {
    overflow: hidden;
}
