@import './mixins';
@import './variables';

table {
  table-layout: fixed;

  thead {
    tr {
      th {
        @include font-size(12px);

        padding: 10px;
        color: $gray-6;
        font-family: $inter;
        font-weight: 500;
        text-align: left;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 10px;
        color: $gray-6;
        font-weight: 500;

        @include font-size(14px);

        font-family: $inter;

        pre {
          @include font-size(12px);

          font-family: $inter;
        }

        &.no-break {
          white-space: nowrap;
        }

        &.break {
          word-break: break-all;
          // sass-lint:disable no-duplicate-properties
          word-break: break-word;
        }

        button{
          @include tablet-down {
            margin: 5px;
          }
        }
      }
    }
  }
}
