$white: #ffffff;

$dark-green: #2e8698;
$main-green: #0fc1b7;
$light-green: #00e0ca;

$dark-gray: #131f37;
$gray-9: #131f37;
$gray-7: #485776;
$gray-6: #677695;
$gray-4: #8493ad;
$gray-3: #c3d0e4;
$gray-2: #e8eefb;
$gray-1: #f2f5fb;
$gray-05: #f6f8fc;
$gray-0: #F6F8FC;

$orange-6: #FF7733;

$gray-header: #b2c1dc;
$input-border: #d9e1ef;

$success: #28a745;
$danger: #ee5b4d;
$info: #17a2b8;
$warning: #ffc107;

$box-shadow: 0px 4px 30px rgba(132, 147, 173, 0.1);
